.form {
  width: 100%;
}

table td:not(:first-child) {
  border-bottom: 2px solid #d8d8d8 !important;
}

.chakra-switch__track:not([data-checked]) {
  background-color: #ff0000 !important;
  opacity: 0.38;
}
